* {
    font-weight: 500;
}

body {
    background-color: darkgray;
    font-family: "Times New Roman";
}

.card {
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: #000000;
    border: purple solid 4px;
    border-radius: 15px;
    padding: 18px;
    color: white;
    resize: both;
}

#columns {
    display: flex;
}

.column {
    width: 25%;
    text-align: center;
    padding: 0 20px;
    color: black;
    border: 1px solid darkblue;
    resize: none;
}

.change {
    border-top: cadetblue 2px dotted;
    margin-top: 20px;
}

ul {
    padding: 0;
    margin-bottom: 0px;
}

li {
    list-style-type: none;
    margin: 10px;
}

li#contexts {
    resize: both;
}

/*Кнопка модального окна*/
button#buttonModal {
    padding: 9px 20px;
    border-radius: 7px;
    border: none;
    background-color: #ddbea9;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #6b705c;
}

button#buttonModal:hover {
    background-color: #10ff00;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}

/*Кнопка обновления карточки*/
button#buttonUpdate{
    padding: 9px 20px;
    border-radius: 7px;
    border: none;
    background-color: #6b705c;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
}

button#buttonUpdate:hover {
    background-color: #6b705c;
    cursor: pointer;
    transition: 0.0001s;
    color: black;
}

/*Кнопка удаления карточки*/
button#buttonDelete {
    padding: 9px 20px;
    border-radius: 7px;
    border: none;
    background-color: red;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
}

button#buttonDelete:hover {
    background-color: red;
    cursor: pointer;
    transition: 0.0001s;
    color: black;
}

/*Кнопка перемещения карточки в следующую колонку*/
button#buttonNow {
    padding: 9px 20px;
    border-radius: 7px;
    border: none;
    background-color: #10ff00;
    margin-top: 15px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    transition: 0.0001s;
    cursor: pointer;
}

/*Кнопка перемещения карточки в предыдущую колонку*/
button#buttonBack {
    padding: 9px 20px;
    border-radius: 7px;
    border-color: #ffc107;
    background-color: #ffc107;
    margin-top: 15px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    transition: 0.0001s;
    cursor: pointer;
}

textarea {
    resize: none;
    padding: 8px 41px;
    border-radius: 12px;
    border: #6b705c solid 2px;
}

#form {
    margin: 0px 0px 0px 0px;
    display: block;
    text-align: center;
    margin-bottom: 70px;
    font-weight: bold;
}

.button {
    padding: 9px 20px;
    border-radius: 7px;
    border: none;
    background-color: #6b705c;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
}

.button:hover {
    background-color: #6b705c;
    cursor: pointer;
    transition: 0.0001s;
    color: black;
}

input {
    border: none;
    border: #6b705c solid 2px;
    width: 200px;
    padding: 10px 12px;
    border-radius: 12px;
}

.pForm {
    margin-top: 35px;
    font-weight: bold;
    font-size: 18px;
}

/*модальное окно*/
.modal-shadow {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.39);
    margin-top: -70px;
}

.modal {
    background: darkorange;
    border-radius: 8px;
    padding: 15px;
    min-width: 420px;
    max-width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-close {
    border-radius: 32%;
    color: #ffe8d6;
    background: #6b705c;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7px;
    right: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}